// base html normalising

*, *:before, *:after {
       -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
}

html{
    @include base-size;
}

body{
    color: $black;
    font-family: $basefonts;
    @include zero-box;
    
    @media (min-width: $screen-sm-min) {
         padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}

// helping older browsers with HTML5.

article,
aside, 
details, 
figcaption, 
figure, 
footer,
header, 
hgroup, 
main, 
nav, 
section, 
summary {
    display: block;
}

audio, 
canvas, 
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    height: 0;
    @include hidden;
}
[hidden], 
.hidden {
    @include hidden;
}

.cfix {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    zoom: 1;

    &:before,
    &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
    }

    &:after {
        clear: both;
    }
}