// baseline link normalise

a {
    text-decoration: none;
    @include cssanimate(color, .3s, ease-in-out);

    &:link {
        color: $purple;
    }
    
    &:visited {
        color: $purple;
    }
    
    &:hover {
        color: $maroon;
    }
    
    &:active {
        color: $maroon;
    }
    
    &:link,
    &:hover,
    &:active {
        @include cssanimate(color, .3s, ease-in-out);
    }
    
    &:focus {
        outline: thin dotted;
    }
    
    &:active,
    &:hover {
        @include sizing(rem,outline, 0);
    }
}