script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
// build:js
script(type='text/javascript', src='jasmine/lib/jasmine/jasmine.js')
script(type='text/javascript', src='jasmine/lib/jasmine/jasmine-html.js')
script(type='text/javascript', src='jasmine/lib/jasmine/boot.js')
script(type='text/javascript', src='js/scripts-min.js')
script(type='text/javascript', src='js/jasmine-tests/jasminetests.js')
// endbuild