// build:js
script(type='text/javascript', src='jasmine/lib/jasmine/jasmine.js')
script(type='text/javascript', src='jasmine/lib/jasmine/jasmine-html.js')
script(type='text/javascript', src='jasmine/lib/jasmine/boot.js')
script(type='text/javascript', src='js/scripts-min.js')
script(type='text/javascript', src='js/jasmine-tests/jasminetests.js')
// endbuild