| <!--[if lt IE 8]>
| <div class="container">
| <div class="row">
| <div class="col-xs-12">
| <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
| </div>
| </div>
| </div>
| <![endif]-->