//
   Created by martinmcloughlin on 25/09/2014.

html
    head
        title
            | title
        link(rel='stylesheet', type='text/css', href='css/main-min.css')

    body
        #wrapper
            .main
                p test this for reloading

        script(type='text/javascript', src='js/scripts-min.js')