//
   Created by martinmcloughlin on 25/09/2014.
html
    head
        title
            | page six

        link(rel='stylesheet', type='text/css', href='css/main-min.css')

        // build:css
        link(rel='stylesheet', type='text/css', href='jasmine/lib/jasmine/jasmine.css')
        // endbuild


    body
        #wrapper
            .main
                p test this for reloading and jasmine then upload

        // build:js
        script(type='text/javascript', src='jasmine/lib/jasmine/jasmine.js')
        script(type='text/javascript', src='jasmine/lib/jasmine/jasmine-html.js')
        script(type='text/javascript', src='jasmine/lib/jasmine/boot.js')
        script(type='text/javascript', src='js/scripts-min.js')
        script(type='text/javascript', src='js/jasmine-tests/jasminetests.js')
        // endbuild