// Created by martinmcloughlin on 30/09/2014.
block variables

doctype html
| <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
| <!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
| <!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
| <!--[if gt IE 8]><!-->
<html class="no-js">
| <!--<![endif]-->
head

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title #{title}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='css/main-min.css')
        // build:css
        link(rel='stylesheet', type='text/css', href='jasmine/lib/jasmine/jasmine.css')
        // endbuild
        include ../blocks/site-level/header-scripts
    body
        include ../blocks/site-level/old-ie-warn
        #wrapper.container
            .row
                .col-xs-12
                    include ../blocks/site-level/navigation
            .row
                .col-xs-12
                    p test

            block structure

        include ../blocks/site-level/footer-scripts