extends base-template
block structure
    .row
        .col-xs-12.col-sm-4.col-md-4
            p 4 cols
        .col-xs-12.col-sm-4.col-md-4
            p 4 cols
        .col-xs-12.col-sm-4.col-md-4
            p 4 cols