html
    head
        script(type='text/javascript', src='./development/js/test.js')

    body
        #wrapper
            include ./components/headtest
            p.head
                | Second text can be included in a number of
                | different ways.
            p.
              This way is shortest if you need big
              blocks of text spanning multiple
              lines.