// ONLY IF FIXED HEADER NAV
body {
  //padding-top: 70px;
}
.navbar {
  margin-bottom: $grid-gutter-width/2;
}
.navbar-default{
  .navbar-toggle{
    i {
      margin: 5px 4px 0 4px;
    }
  }
}
.breadcrumb{
  background: none;
  padding: 0;
  max-resolution: $grid-gutter-width/2;
  a {
    color: $brand-primary;
    &.active {
      font-weight: $headings-font-weight;
      color: $brand-success;

    }
  }
  &>li{
    &+li:before{
      content: ">\00a0";
    }
  }
}
.product-tile {
  padding: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width;
  border: 1px solid $gray;
}
.product-tile-image{
  @extend .thumbnail;
  border: none;
  > img,
  a > img {
    @include img-responsive();
    margin-left: auto;
    margin-right: auto;
  }
}
i.glyphicon {
  margin-right: 10px;
}

.space-btm {
  margin-bottom: $grid-gutter-width/2;
}