mixin productGrid(count, layoutitems)

    .row.product-tile-grid

        - var ItemCounter = 0;
        - var newNumber = 12/layoutitems;

        - for (var i = 0; i < count; ++i) {
            - ItemCounter++;

            if ItemCounter == layoutitems
                div(class="col-md-#{newNumber} col-sm-6 col-xs-12")
                    +productTileMaster()
                - ItemCounter = 0;

            else
                div(class="col-md-#{newNumber} col-sm-6 col-xs-12")
                    +productTileMaster()

        - }